.navContainer {
    position: fixed;
    padding: 1.5rem;
    top: 2%;
    left: 2%;
    display: flex;
    width: 92%;
    padding: 2%;
    border-radius: 30px;
    justify-content: center;
    background-color: #ffffff56; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(10px); 
    z-index: 1000;
    font-weight: bold;
}
