.masonryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.space {
  height: 30px;
  padding: 2%;
  margin-top: 2vh;

}

.masonry {
  margin: auto !important;
}

.imgContainer {
  display: inline;
  background-color: #ececec9a;
  border-radius: 10px;
}

.images {
  border-radius: 10px;
  width: 100%;
}

.credits {
  padding: 0.5em;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

/* @media screen and (min-width: 900px) {
  .masonryContainer {
    padding-top: 4rem;
  }
} */
